# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# ignore db files generated while testing
*.db

# priv
priv

# stupid vscode
.settings
.project
.vscode
.classpath

# ignore image files because really no need to put them in src control atm
*.png

# ignore data directory created when testing
data/